.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 20px ;
  // border: 1px solid green;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
 

  .nav-links-container {
    height: 100%;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    display: flex;
   padding: 10px 15px;
   cursor: pointer;
   letter-spacing: 3px;
   border-radius: 2px;
 }

 .nav-link:hover{
    background-color: #7f00ff;
 }
}

.menuIcon{  
display: none;
}




.nav {

  // display: none;
  // visibility: hidden;
}
#nav-link-visablity{
  display: flex;
}

// @media screen and (min-width: 600px) {
// .nav-link {
//     display: flex;
    
//   }

// }


@media screen and (max-width: 600px){


 
  .nav-links-container{
    height: 50%;
    border: 2px solid green;
    flex-direction: column;
    width: 100vw;

  }
.nav {

   display: none;
  // visibility: hidden;
}

 #nav-link-visablity {
  
    position: absolute;
    // margin: 15px;
    // border-radius:20px;
    top: 80px;
    left: 0;
    right: 30px;
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 1s;
    background-color: #a98ec3;
    transition: width 2s;
    z-index: 2;
 }
    // .nav-link{
    //   color: rgb(188, 15, 15);
    //   display: none;
    // }
  .cartdisplayforscreens{
      display: none;
  }

    .menuIcon {
      display: flex;
      position: absolute;
      top: 30px;
      right: 49px;
      
    }

//  .exit_icon {
//      display: flex;
//      position: absolute;
//       top: 30px;
//       right: 20px;
//  }

}
@media screen and (max-width: 800px) {

.nav-links-container {
      height: 50%;
      // border: 2px solid green;
      flex-direction: column;
      width: 100vw;
  
    }
#nav-link-visablity {

    position: absolute;
    // margin: 15px;
    // border-radius:20px;
    top: 80px;
    left: 0;
    right: 30px;
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 1s;
    background-color: #a98ec3;
    transition: width 2s;
    z-index: 2;
  }

    .menuIcon {
      display: flex;
      position: absolute;
      top: 30px;
      right: 49px;
  
    }

 .cartdisplayforscreens {
   display: none;
 }
}